@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-family: Montserrat, sans-serif;
  padding-top:70px;
  background-color:#ebebeb;
  margin:0;
}

nav {
  position: fixed ;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
}

nav ul{
  display: flex;
  justify-content:center;
}

nav ul li{
  margin: 0 20px;
}

nav ul li a{
  color: white ;
  text-decoration:none;
  font-weight: bold;
}

nav ul li a:hover{
  text-decoration: underline;
}

#main {
  text-align: center;
  margin:auto;
  max-width:800px;
}

#main h1{
  font-family: Lemonada, sans-serif;
  font-size: 10vw;
  margin: 0;
  padding: 0;
  line-height:1em;
}

#main p{
  margin: 0;
  font-size:5vw;
}

figure{
  background-color:white;
  padding:15px;
}

#image{
  max-width: 100% ;
  display:block ;
}

#img-caption{
  margin-top:10px;
  font-size:0.7em;
} 

#tribute-info{
  width: 600px;
  margin:50px auto;
}

#tribute-info h2{
  text-align:center;
}

#tribute-info ul{
  list-style:none;
  padding:0;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
 }

#tribute-info li{
  width: 200px;
  height: 200px;
  margin:5px;
}

.album {
    position: relative;
}

.album .album-img{
  width:100%; 
  height: 100%;
}

.album .album-overlay{
  background-color:black;
  position: absolute;
  top: 0;
  width: 100%;
  height:100% ;
  color:white;
  display :flex;
  justify-content:center;
  align-items:center;
  flex-direction: column ;
  opacity:0;
}

.album .album-overlay:hover{
  opacity:1;
  transition:all 0.3s ease;
}

.rls-date{
  font-size: .6em;
}

.album-title{
  font-weight:bold;
  text-transform:uppercase;
  margin-top:5px;
}

#videos{
  text-align:center; 
}

.video-list{
  margin-top: 30px;
}

#follow{
  text-align:center;
  background-color:black;
  color: white;
  padding: 15px 0;
}

#follow h2{
  color:white;
}

#follow ul{
  list-style-type:none;
  padding: 0;
  display:flex;
  justify-content: center;
}

#follow li{
  font-size:2em;
  margin:0 20px;
}

#follow li a{
  color:white;
}


